body{
font-family:system-ui;
background:#0f1115;
color:#eaeaea;
max-width:900px;
margin:auto;
padding:20px;
}

nav a{
margin-right:10px;
color:#4ea1ff;
text-decoration:none;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border-bottom:1px solid #333;
padding:8px;
text-align:center;
}

input,select,button{
margin:6px 0;
padding:6px;
}
